
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="" method="post">
    Username:<input type="text" id="username" name="username" />
    <br />
    Password:<input type="password" id="password" name="password" />
    <br />
    <input type="submit" value="提交" />
</form>

